<!DOCTYPE html>
<html>
<head>
  <title>Sign up</title>
</head>
<body>
  <form action=<%= users_path %> method="post">
    Username: <input type="text" name="username"><br>
    Email:    <input type="text" name="email"><br>
    Password: <input type="passowrd" name="password"><br>
    <input type="submit" value="Submit">
</body>
</html>